@tailwind base;
@tailwind components;
@tailwind utilities;


*{padding: 0;margin: 0;border: 0;transition: all, 0.3s, ease}

*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}

:focus,:active{outline: none;}

a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}

button{cursor: pointer;}

button::-moz-focus-inner{padding:0;border:0;}

a,a:visited{text-decoration: none;}

a:hover{text-decoration: none;}

ul li{list-style: none;}

img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-VariableFont_wght.ttf');
}
.logo-style{
    user-select: none;
}
.task-style{
    @apply flex flex-col gap-[8px] p-[24px] rounded-[16px];
}
.text-style-title{
    @apply  text-[16px] leading-[150%] font-semibold glow-on-hover;
}
.text-style-main{
    @apply text-text-color-main text-[14px] leading-[140%] select-none;
}
.text-style-big-bold{
    @apply text-[25px] leading-[44px] font-bold;
}
.text-style-large-bold{
    @apply text-[35px] leading-[44px] font-bold;
}
.glow-on-hover {
    transition: text-shadow 0.3s ease-in-out;
    text-shadow: none;
    cursor: pointer;
    user-select: none;
}

.glow-on-hover:hover {
    text-shadow:
            0 0 10px #f6f7f8,
            0 0 20px #ebf5ff,
            0 0 30px #ebf5ff;
    @apply text-text-color-main;
}

.button-style-main{
    @apply text-[35px] text-[#2A2A2A] cursor-pointer w-[35px] h-[35px] font-[200];
}
.button-plus-on-hover:hover, .button-plus-on-hover:hover .button-style-main, .button-plus-on-hover:hover .button-style-task {
    transition: all 0.3s ease-in-out;
    @apply text-text-color-main border-text-color-main;
}
.glowing-border-button {
    position: relative;
    overflow: hidden;
    padding: 1.2em 1.5em;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    background-color: #2D3748;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 1;
}
.glowing-border-button:hover {
    background-color: #4A5568;
}
.glowing-border-button::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
            60deg,
            #f79533,
            #f37055,
            #ef4e7b,
            #a166ab,
            #5073b8,
            #1098ad,
            #07b39b,
            #6fba82
    );
    background-size: 300% 300%;
    border-radius: inherit;
    z-index: -1;
    animation: rotateBackground 4s linear infinite;
}

.glowing-border-button::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color: black;
    border-radius: inherit;
    z-index: -1;
}

@keyframes rotateBackground {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.section-style{
    @apply flex flex-col justify-center items-center w-full gap-[120px] overflow-hidden;
}
.benefits-card{
    @apply p-[34px] rounded-[16px] max-w-[448px] w-full h-[200px] flex-shrink-0;
}
.glowing-border-card, .glowing-border-card2, .glowing-border-card3, .glowing-border-card4{
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}
.glowing-border-card::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
            60deg,
            #f79533,
            #f37055,
            #ef4e7b,
            #a166ab,
            #5073b8,
            #1098ad,
            #07b39b,
            #6fba82
    );
    background-size: 300% 300%;
    border-radius: inherit;
    z-index: -1;
    animation: rotateBackground 4s linear infinite;
}
.glowing-border-card2::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
            60deg,
            #5073b8,
            #1098ad,
            #07b39b,
            #6fba82,
            #f79533,
            #f37055,
            #ef4e7b,
            #a166ab
    );
    background-size: 300% 300%;
    border-radius: inherit;
    z-index: -1;
    animation: rotateBackground 4s linear infinite;
}
.glowing-border-card3::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
            60deg,
            #6d4c41,
            #827717,
            #b35832,
            #ffb300,
            #455a64,
            #263238
    );
    background-size: 300% 300%;
    border-radius: inherit;
    z-index: -1;
    animation: rotateBackground 4s linear infinite;
}
.glowing-border-card4::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
            60deg,
            #192c48,
            #3b5c87,
            #2a87a1,
            #004d40,
            #4a148c,
            #880e4f
    );
    background-size: 300% 300%;
    border-radius: inherit;
    z-index: -1;
    animation: rotateBackground 4s linear infinite;
}
.glowing-border-card::after, .glowing-border-card2::after, .glowing-border-card3::after, .glowing-border-card4::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color: rgba(0,0,0,1);
    border-radius: inherit;
    z-index: -1;
}

@keyframes rotateBackground {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.magic-text {
    background: linear-gradient(
            60deg,
            #5073b8,
            #1098ad,
            #07b39b,
            #6fba82,
            #f79533,
            #f37055,
            #ef4e7b,
            #a166ab,
            #5073b8
    );
    background-size: 300% auto;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient-flow 4s linear infinite;
    user-select: none;
}
.magic-text2 {
    background: linear-gradient(
            60deg,
            #26416e,
            #3b5c87,
            #2a87a1,
            #006c59,
            #621cba,
            #880e4f,
            #26416e
    );
    background-size: 300% auto;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient-flow 4s linear infinite;
    user-select: none;
}
.magic-text3 {
    background: linear-gradient(
            60deg,
            #6d4c41,
            #827717,
            #b35832,
            #ffb300,
            #976c2b,
            #ba4f04,
            #6d4c41
    );
    background-size: 300% auto;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient-flow 4s linear infinite;
    user-select: none;
}
.magic-text4 {
    background: linear-gradient(
            60deg,
            #87ceeb,
            #98fb98,
            #fffacd,
            #ffdead,
            #d8bfd8,
            #add8e6,
            #f0e68c,
            #87ceeb
    );
    background-size: 300% auto;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient-flow 4s linear infinite;
    user-select: none;
}
@keyframes gradient-flow {
    from {
        background-position: 0% center;
    }
    to {
        background-position: 300% center;
    }
}

.step-card{
    @apply max-w-[400px] h-[200px] w-full p-[25px] rounded-[16px];
}
.step-card{
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}
.step-card1::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
            60deg,
            #5073b8,
            #1098ad,
            #07b39b,
            #6fba82,
            #f79533,
            #f37055,
            #ef4e7b,
            #a166ab,
            #5073b8
    );
    background-size: 300% auto;
    border-radius: inherit;
    z-index: -1;
    animation: gradient-flow 4s linear infinite;
}
.step-card2::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
            60deg,
            #26416e,
            #3b5c87,
            #2a87a1,
            #006c59,
            #621cba,
            #880e4f,
            #26416e
    );
    background-size: 300% auto;
    border-radius: inherit;
    z-index: -1;
    animation: gradient-flow 4s linear infinite;
}
.step-card3::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
            60deg,
            #6d4c41,
            #827717,
            #b35832,
            #ffb300,
            #976c2b,
            #ba4f04,
            #6d4c41
    );
    background-size: 300% auto;
    border-radius: inherit;
    z-index: -1;
    animation: gradient-flow 4s linear infinite;
}
.step-card4::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
            60deg,
            #87ceeb,
            #98fb98,
            #fffacd,
            #ffdead,
            #d8bfd8,
            #add8e6,
            #f0e68c,
            #87ceeb
    );
    background-size: 300% auto;
    border-radius: inherit;
    z-index: -1;
    animation: gradient-flow 4s linear infinite;
}

.step-card::after{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color: rgba(0,0,0,1);
    border-radius: inherit;
    z-index: -1;
}

.who-card{
    @apply max-w-[448px] w-full p-[15px] rounded-[16px] h-[300px] border-[1px] border-dashed border-gray-200;
}


.button-card{
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}
.button-card::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
            60deg,
            #5073b8,
            #1098ad,
            #07b39b,
            #6fba82,
            #f79533,
            #f37055,
            #ef4e7b,
            #a166ab,
            #5073b8
    );
    background-size: 300% auto;
    border-radius: inherit;
    z-index: -1;
    animation: gradient-flow 4s linear infinite;
}


.new-column-form, .new-task-form{
    position: absolute;
    max-width: 40%;
    width: 100%;
    height: 60%;
    top: 25vh;
    background: rgba(0,0,0,0.85);
    backdrop-filter: blur(10px);
    border: 1.5px dashed #b6b6b6;
    border-radius: 30px;
    padding: 25px;
    flex-direction: column;
    gap: 26px;
    z-index: 4;
}
.column{
    overflow: hidden;
}
.task-dragging {
    opacity: 0.8;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
.task-ghost {
    opacity: 0.4;
    background: #444;
    border: 1px dashed #fff;
}
.column-ghost {
    opacity: 0.3;
    background: #222;
    border: 2px dashed #555;
}
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(10px);
    z-index: 1;
}

.input-style-default{
    @apply w-full p-[10px] bg-[rgba(0,0,0,0.71)] border-[1px] border-solid border-text-color-accent rounded-md;
}

.reg-card{
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}
.reg-card::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
            60deg,
            #5073b8,
            #1098ad,
            #07b39b,
            #6fba82,
            #f79533,
            #f37055,
            #ef4e7b,
            #a166ab,
            #5073b8
    );
    background-size: 300% auto;
    border-radius: inherit;
    z-index: -4;
    animation: gradient-flow 4s linear infinite;
}

.reg-card::after{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color: rgba(0,0,0,1);
    border-radius: inherit;
    z-index: -4;
}
.reg-button{
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}
.reg-button::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
            60deg,
            #5073b8,
            #1098ad,
            #07b39b,
            #6fba82,
            #f79533,
            #f37055,
            #ef4e7b,
            #a166ab,
            #5073b8
    );
    background-size: 300% auto;
    border-radius: inherit;
    animation: gradient-flow 4s linear infinite;
    z-index: -2;
}
.reg-button::after{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color: rgba(0,0,0,1);
    border-radius: inherit;
    z-index: -1;
    transition: background-color 0.7s ease;
}
.reg-button:hover::after{
    background-color: rgba(0,0,0,0);
}
.body-magic{
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}
.body-magic::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 150%;
    height: 150%;
    background: linear-gradient(
            60deg,
            #5073b8,
            #1098ad,
            #07b39b,
            #6fba82,
            #f79533,
            #f37055,
            #ef4e7b,
            #a166ab,
            #5073b8
    );
    background-size: 300% auto;
    border-radius: inherit;
    z-index: -4;
    animation: gradient-flow 4s linear infinite;
}

.body-magic::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    background-color: rgba(0,0,0,1);
    border-radius: inherit;
    z-index: -4;
}